ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 425px; 
	height: 200px; 
	overflow: auto;
}

.grid {
	width: 458px;
  position: relative;
  text-align: center;
  display: inline-block;
  float: left;
  margin: 0 auto;
}

.square {
	height: 150px;
	width: 150px;
	padding: 25px;
	display: inline-block;
	position: relative;
	vertical-align: top;
	font-size: 40px;
	text-align: center;
	color: black;
	border: 1px solid black;
	margin: 1px auto;
}
