<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Tic Tac Toe</title>
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Luckiest+Guy' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Orbitron:700' rel='stylesheet' type='text/css'>

</head>
<body ng-controller="GameController as GameCtrl">

<!-- Hidden div to show game over! -->
<div class="result" ng-show="GameCtrl.game.maxgames==0">
			<h1>Game Over</h1>
</div>

<!-- Start container -->
<div class="container-fluid"> 

<!-- Start header section -->
<div class="page-header">
	<div class="row">
	  <div class="col-xs-6 col-md-4"><h1>#tictactoe <small>All Day</small></h1></div>
	  <div class="col-xs-6 col-md-4"><h1 class="text-center">X vs O</h1></div>
	  <div class="col-xs-6 col-md-4"><h1 class="pull-right">Welcome! {{GameCtrl.name}}<small></small></h1></div>
	</div>  
</div>
<!-- End header section -->

	<!-- This page contains 1 row and 3 columns -->
  <div class="row"> 

  <!-- Start first column -->
  <div class="col-xs-6 col-md-4"> 

  	<!-- Start current Game Info -->
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Current Game ID: {{GameCtrl.game.$id}}</h3>
			</div>
			<div class="panel-body">
				<span>Round: {{GameCtrl.game.round}}</span>
				<span class="pull-right">Games left: {{GameCtrl.game.maxgames}}</span>
			</div>
			<div class="panel-body">
				<span>{{GameCtrl.game.player1.name}}: {{GameCtrl.game.player1.wins}}</span>
				<span class="glyphicon glyphicon-hand-left" ng-show="GameCtrl.game.playerTurn==0"></span>
			</div>
			<div class="panel-body">
				<span>{{GameCtrl.game.player2.name}}: {{GameCtrl.game.player2.wins}}</span>
				<span class="glyphicon glyphicon-hand-left" ng-show="GameCtrl.game.playerTurn==1"></span>
			</div>
		</div>
		<!-- End current game info -->

		<!-- Start chat section -->
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Chat Box</h3>
			</div>
			<div class="panel-body">
				<section class="chat-list">
					<ul>
						<li ng-repeat="chat in GameCtrl.chatList">
							<span>{{ chat.$value }}</span>
						</li>
					</ul>
				</section>
			</div>
			<div class="panel-body">
					<section class="chat">
						<form ng-submit="GameCtrl.addText(GameCtrl.text)">
							<div class="input-group">
	               <input type="text" class="form-control" placeholder="Chat here" ng-model="GameCtrl.text" ng-change="GameCtrl.$save(GameCtrl.text)">
	               <span class="input-group-btn"><button class="btn btn-default" type="button" ng-click="GameCtrl.addText(GameCtrl.text)">Enter</button></span>
	            </div>
						</form>
					</section>				
			</div>
		</div>
		<!-- End chat section -->

  </div><!--  End first column -->

	<!-- Start second column -->
  <div class="col-xs-6 col-md-4"> 

  	<!-- Start game section -->
  	<div class="grid">
			<div class="square" ng-repeat="square in GameCtrl.game.board" ng-click="GameCtrl.click($index)">{{square.move}}</div>
			<div class="alert alert-success" role="alert" ng-show="GameCtrl.game.winner==1">{{GameCtrl.game.player1.name}} wins</div>
			<div class="alert alert-info" role="alert" ng-show="GameCtrl.game.winner==2">{{GameCtrl.game.player2.name}} wins</div>
			<div class="alert alert-danger" role="alert" ng-show="GameCtrl.game.winner==3">Tie Game</div>		
		</div>
		<!-- End game section -->

  </div> <!-- End second column -->

	<!-- Start third column -->
  <div class="col-xs-6 col-md-4"> 

  	<!-- Start game room section -->
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Game Rooms</h3>
			</div>
			<div class="panel-body" ng-repeat="(key, val) in GameCtrl.gamelist">
				<span>Game ID: {{val.gameId}}</span>
				<button class="btn btn-success" ng-click="GameCtrl.board(val.gameId, 1)">Join as P1</button>
				<button class="btn btn-success" ng-click="GameCtrl.board(val.gameId, 2)">Join as P2</button>
			</div>
			<div class="panel-body">
				<form ng-submit="GameCtrl.saveName(GameCtrl.name)">
					<div class="input-group">
             <input type="text" class="form-control" placeholder="Enter your name" ng-model="GameCtrl.name">
             <span class="input-group-btn"><button class="btn btn-default" type="button">Enter your name</button></span>
          </div>
				</form>
			</div>			
		</div>
		<!-- End game room section -->

		<!-- Start create game section -->
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title">Create New Game</h3>
			</div>
			<div class="panel-body">
				<form class="form-inline" role="form" ng-submit="GameCtrl.createGame(GameCtrl.numgames)">
				    <div class="input-group">
				        <div class="form-group">          
				        </div>
				        <span class="input-group-btn">
				        	<input type="number" class="form-control" style="width:345px" min="1" placeholder="Select number of games to play" ng-model="GameCtrl.numgames">
				        	<input type="submit" class="form-control">
				        </span>
				    </div>
				</form>
			</div>			
		</div>
		<!-- End create game room section -->

  </div> <!-- End third column -->
</div> <!-- End row -->
</div> <!-- End container -->

<script src="js/angular.js"></script>
<script src="js/firebase.js"></script>
<script src="js/angularfire.js"></script>
<script src="js/main.js"></script>
<script src="js/gameController.js"></script>
</body>
</html>