<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Tic Tac Toe</title>
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-controller="GameController as GameCtrl">


<div class="container-fluid">
<div class="page-header">
	<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
	<div class="row">
	  <div class="col-xs-6 col-md-4"><h1>#WDI Project 1 <small>Tic Tac Toe</small></h1></div>
	  <div class="col-xs-6 col-md-4"><h1 class="text-center">X vs O</h1></div>
	  <div class="col-xs-6 col-md-4"><h1 class="pull-right">Welcome {{GameCtrl.name}}<small></small></h1></div>
	</div>
		<!-- Columns are always 50% wide, on mobile and desktop -->
<!-- 	<div class="row">
	  <div class="col-xs-6"><h1>WDI Project 1 <small>Tic Tac Toe</small></h1></div>
	  <div class="col-xs-6"><h1 class="pull-right">Welcome <small>{{GameCtrl.name}}</small></h1></div>
	</div> -->
  
</div>
  <div class="row">
  <div class="col-xs-6 col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Current Game ID: {{GameCtrl.game.$id}}</h3>
			</div>
			<div class="panel-body">
				<span>Round: {{GameCtrl.game.round}}</span>
				<span>Player Turn: {{GameCtrl.game.playerTurn}}</span>
			</div>
			<div class="panel-body">
				<span>{{GameCtrl.game.player1.name}}: {{GameCtrl.game.player1.wins}}</span>
				<span class="glyphicon glyphicon-hand-left" ng-show="GameCtrl.game.playerTurn==0"></span>
			</div>
			<div class="panel-body">
				<span>{{GameCtrl.game.player2.name}}: {{GameCtrl.game.player2.wins}}</span>
				<span class="glyphicon glyphicon-hand-left" ng-show="GameCtrl.game.playerTurn==1"></span>
			</div>

		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Chat Box</h3>
			</div>
			<div class="panel-body">
				<!-- begin show all todos -->
				<section class="chat-list">
					<ul>
						<li ng-repeat="chat in GameCtrl.chatList">
							<span>{{ chat.$value }}</span>
						</li>
					</ul>
				</section>
				<!-- end show all todos -->
			</div>
			<div class="panel-body">
					<section class="chat">
						<form ng-submit="GameCtrl.addText(GameCtrl.text)">
							<div class="input-group">
	               <input type="text" class="form-control" placeholder="Chat here" ng-model="GameCtrl.text" ng-change="GameCtrl.$save(GameCtrl.text)">
	               <span class="input-group-btn"><button class="btn btn-default" type="button" ng-click="GameCtrl.addText(GameCtrl.text)">Enter</button></span>
	            </div>
						</form>
					</section>				
			</div>
		</div>
  </div>
  <div class="col-xs-6 col-md-4">
  	<div class="grid">
			<div class="square" ng-repeat="square in GameCtrl.game.board" ng-click="GameCtrl.click($index)">{{square.move}}</div>
			<div class="alert alert-success" role="alert" ng-show="GameCtrl.game.winner==1">Player 1 wins</div>
			<div class="alert alert-info" role="alert" ng-show="GameCtrl.game.winner==2">Player 2 wins</div>
			<div class="alert alert-danger" role="alert" ng-show="GameCtrl.game.winner==3">Tie Game</div>		
		</div>
  </div>
  <div class="col-xs-6 col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Game Rooms</h3>
			</div>
			<div class="panel-body" ng-repeat="id in GameCtrl.gamelist">
				<span>Game ID: {{id.$value}}</span>
				<button class="btn btn-success" ng-click="GameCtrl.board(id.$value, 1)">Join as P1</button>
				<button class="btn btn-success" ng-click="GameCtrl.board(id.$value, 2)">Join as P2</button>
			</div>
			<div class="panel-body">
				<button class="btn btn-primary btn-lg btn-block" ng-click="GameCtrl.createGame()">New Game</button>
			</div>
			<div class="panel-body">
				<form ng-submit="GameCtrl.saveName(GameCtrl.name)">
					<div class="input-group">
             <input type="text" class="form-control" placeholder="Enter your name" ng-model="GameCtrl.name">
             <span class="input-group-btn"><button class="btn btn-default" type="button">Enter</button></span>
          </div>
				</form>
			</div>			
		</div>
  </div>
</div>
</div>


<script src="js/angular.js"></script>
<script src="js/firebase.js"></script>
<script src="js/angularfire.js"></script>
<script src="js/main.js"></script>
<script src="js/gameController.js"></script>
</body>
</html>