<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Tic Tac Toe</title>
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-controller="GameController as GameCtrl">

<button ng-click="GameCtrl.createGame()">New Game</button>
<p class="id" ng-repeat="id in GameCtrl.gamelist">Game ID: {{id.$value}} <button ng-click="GameCtrl.board(id.$value)">Join Game</button></p>
<p class="id">Current Game ID: {{GameCtrl.game.$id}}</p>
<p class="score">Round: {{GameCtrl.game.count}}</p>
<p class="score">Player 1: {{GameCtrl.game.player1.wins}}</p>
<p class="score">Player 2: {{GameCtrl.game.player2.wins}}</p>

<div class="container">
	<div class="square" ng-repeat="square in GameCtrl.game.board" ng-click="GameCtrl.click($index)">{{square.move}}</div>
</div>

<script src="js/angular.js"></script>
<script src="js/firebase.js"></script>
<script src="js/angularfire.js"></script>
<script src="js/main.js"></script>
<script src="js/gameController.js"></script>
</body>
</html>